<!DOCTYPE html>
<html lang="en">
  <%- include('common/header', {}); %>
  <body>
    <%- include('common/nav', {isAdmin,isAdmin}); %>
    <div class="container mt-2">
        <div class="row">
            <div class="col-md-6">
                <h1>Vote Topic</h1>
                <h5><%= topic.name %></h5>
                <hr>
                <strong>NAME:
                </strong>
                <p>
                    <%= name.toUpperCase() %>
                </p>
                <strong>NATION ID:
                </strong>
                <p>
                    <%= nationid.toUpperCase() %>
                </p>
                <input type="hidden" id="topicId" value="<%= topic._id %>">
                <input type="hidden" id="id" value="<%= id %>">
            </div>
            <div class="col-md-6">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h2 class="display-4">Cast your Vote</h2>
                        <hr>
                        <p class="lead">
                            <% for(var i=0; i< topic.choices.length; i++) { %>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="<%= 'choice-' + (i + 1) %>" name="votetopic" value="<%= (i + 1) %>" class="custom-control-input vote_topic_radio">
                                    <label class="custom-control-label" for="<%= 'choice-' + (i + 1) %>">
                                        <%= topic.choices[i] %>
                                    </label>
                                </div>
                                <hr>
                                <% } %>

                                <div class="form-group">
                                    <button id="vote_btn" class="btn btn-primary" disabled>Submit</button>
                                </div>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>